In [52]:
import pandas as pd

In [53]:
df = pd.read_csv("spotify_millsongdata.csv")

In [54]:
df.head(3)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...

In [55]:
df.tail(3)

,artist,song,link,text
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [56]:
df.shape

(57650, 4)

In [57]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [58]:
df = df.sample(5000).drop('link',axis=1).reset_index(drop=True)

In [59]:
df.head(3)

,artist,song,text
0,Pitbull,Pause,"Mr. Worldwide, \r\nMami no you can't come bac..."
1,Bing Crosby,Getting To Know You,"Gettin' to know you, \r\nGettin' to know all ..."
2,Snoop Dogg,Change Gone Come,When Doggy Dogg comes \r\nYou better answer [...

In [60]:
df['text'][0]

"Mr. Worldwide,  \r\nMami no you can't come back  \r\nMami no you can't come back  \r\n'Cause you look so right  \r\n'Cause you look so right  \r\n'Cause you look so right  \r\n'Cause you look so right  \r\n  \r\nNow don't stop, drop, pause  \r\nNow don't stop, drop, pause  \r\n  \r\nOh, look at that girl, she's like ah  \r\nLook at that girl, she's like oh  \r\nLook at that girl, she's like ah  \r\nLook at that girl, she's like  \r\n  \r\nLook, I got what you need to get you hooked  \r\nI steal all your heart I'm a crook  \r\nOn Friday night, I'm sorry, I'm booked  \r\nBrooke, Maria y la amiga de ella  \r\nTan rica y en la cama no juegan  \r\nExplotan y dicen  \r\nPause  \r\n  \r\nNow don't stop, drop, pause  \r\nNow don't stop, drop, pause  \r\n  \r\nOh, look at that girl, she's like ah  \r\nLook at that girl, she's like oh  \r\nLook at that girl, she's like ah  \r\nLook at that girl, she's like  \r\n  \r\nMamita would you like to play?  \r\nWe love to see, would you stay  \r\nAnd if you say OK, we will play night and day  \r\nI'm such a dir-dir-dirty dawg  \r\nMy teeth will unsnap your bra  \r\nBut for now baby just pause  \r\n  \r\nNow don't stop, drop, pause  \r\nNow don't stop, drop, pause  \r\n  \r\nOh, look at that girl, she's like ah  \r\nLook at that girl, she's like oh  \r\nLook at that girl, she's like ah  \r\nLook at that girl, she's like  \r\n  \r\nMami over there sometime  \r\nMami over there sometime  \r\nShe got what I like, what I like  \r\nWhat I like, what I like  \r\nMami over there sometime  \r\nMami over there sometime  \r\nShe got what I like, what I like  \r\nWhat I like, what I like  \r\nMami over there sometime  \r\nMami over there sometime  \r\nShe got what I like, what I like, pause  \r\n  \r\nNow don't stop, drop, pause  \r\nNow don't stop, drop, pause  \r\n  \r\nOh, look at that girl, she's like ah  \r\nLook at that girl, she's like oh  \r\nLook at that girl, she's like ah  \r\nLook at that girl, she's like oh  \r\nLook at that girl, she's like ah  \r\nLook at that girl, she's like oh  \r\nLook at that girl, she's like ah  \r\nLook at that girl, she's like  \r\n  \r\nPause\r\n\r\n"

In [17]:
#df = df.sample(5000)

In [61]:
df.shape

(5000, 3)

Text Cleaning or Text Processing

In [62]:
df['text'] = df['text'].str.lower().replace(r'^\w\s',' ').replace(r'\n',' ',regex = True)

In [63]:
df

,artist,song,text
0,Pitbull,Pause,"mr. worldwide, \r mami no you can't come back..."
1,Bing Crosby,Getting To Know You,"gettin' to know you, \r gettin' to know all a..."
2,Snoop Dogg,Change Gone Come,when doggy dogg comes \r you better answer [r...
3,King Diamond,Life After Death,friday night \r \r four shadows heading for...
4,Verve,Endless Life,drink the water to ease my pain \r nights lik...
...,...,...,...
4995,Koes Plus,Layang-Layang,layang layang yang ku sayang \r layang layang...
4996,Uriah Heep,Cross That Line,what do you say \r to a talk over dinner \r ...
4997,Marillion,Cover My Eyes,cover my eyes \r the light falls on her face ...
4998,Bon Jovi,Never Say Die,as we stood there older than men \r and young...
4999,Genesis,In Limbo,please take me away \r far from this place \...

In [64]:
import nltk
from nltk.stem.porter import PorterStemmer

In [65]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ABISATYA\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [66]:
stemmer = PorterStemmer()

In [67]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

In [68]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [69]:
token("we are eating and eaten")

'we are eat and eaten'

In [70]:
df['text'].apply(lambda x: token(x))

0       mr. worldwid , mami no you ca n't come back ma...
1       gettin ' to know you , gettin ' to know all ab...
2       when doggi dogg come you better answer [ repea...
3       friday night four shadow head for the dark fou...
4       drink the water to eas my pain night like thes...
                              ...
4995    layang layang yang ku sayang layang layang yan...
4996    what do you say to a talk over dinner though w...
4997    cover my eye the light fall on her face danger...
4998    as we stood there older than men and younger t...
4999    pleas take me away far from thi place leav me ...
Name: text, Length: 5000, dtype: object

In [71]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [72]:
tfid = TfidfVectorizer(analyzer='word', stop_words='english')

In [73]:
matrix = tfid.fit_transform(df['text'])

In [74]:
similar = cosine_similarity(matrix)

In [75]:
similar[0]

array([1.        , 0.02130659, 0.0382531 , ..., 0.22303006, 0.08293173,
       0.00346016])

In [77]:
df[df['song'] == 'Pause'].index[0]

0

Recommender Func

In [81]:
def recommender(song_name):
    idx = df[df['song'] == song_name].index[0]
    dis = sorted(list(enumerate(similar[idx])), reverse=True, key = lambda x : x[1])
    song = []
    for s_id in dis[1:6]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [82]:
recommender("Pause")

['Lookout', 'Look At Me Now', '3-D', 'Look Around Me', 'Get Up And Go']

In [83]:
import pickle

In [84]:
pickle.dump(similar, open("similarity","wb"))

In [85]:
pickle.dump(df, open("df","wb"))